# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist/

# Production
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# Turbo
.turbo

# Typescript
*.tsbuildinfo
next-env.d.ts

# Database files
*.db
*.db-journal

# Prisma
prisma/migrations/
.prisma/

# IDE
.vscode/
.idea/

# Wrangler
.wrangler/
.dev.vars
